footer {
  /* background: #011f21; */
  padding: 10px 0;
  margin-top: 10px;
}

.foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-links {
  display: flex;
  gap: 12px;
}