
/* @media (max-width: 768px) {
  .nav { flex-direction: column; gap: 10px; }
  .left-list { flex-wrap: wrap; }
  .stats { justify-content: center; }
} */

@media (max-width:980px){
  .wrap{grid-template-columns:1fr;gap:18px}
  .cards{grid-template-columns:1fr 1fr}
  .team{grid-template-columns:1fr 1fr}
  .stats{grid-template-columns:repeat(2,1fr)}
}
@media (max-width:640px){
  .cards{grid-template-columns:1fr}
  .team{grid-template-columns:1fr}
  .titem{grid-template-columns:1fr}
  .left-list{display:none}
}